html{
    scroll-behavior: smooth;
}
.menu-button.active .menu-line:nth-child(1) {
    transform: rotate(45deg);
}
.menu-button.active .menu-line:nth-child(2) {
    opacity: 0;
}
.menu-button.active .menu-line:nth-child(3) {
    transform: rotate(-45deg);
}
#menu.show {
    opacity: .99;
    z-index: 49;

}
body.show-scrollbar{
    overflow: hidden;
}

body.show-scrollbar{
    overflow: hidden;
}

body::-webkit-scrollbar{
    width: 0;
}